@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');

/* Vartiables */
:root {
  --primero: #0088cf;
  --segundo: #C0FDFB;
  --tercero: #f1f1f1;
  --cuarto: #18314F;
  --amarillo: yellow;
  --verde: limegreen;
}

/* General styles */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--tercero);
  font-family: 'Solway', serif;
  /* height: 100vh;
  width: 100vw; */
}

.hide {
  display: none!important;
}

/* Navbar */
.navbar {
  height: 5vh;
  width: 100vw;
  background-color: var(--primero);
  text-align: center;
  color: white;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

.navbar ul li {
  float: left;
  margin-inline: 2rem;
  line-height: 5vh;
  font-size: 20px;
  cursor: pointer;
}

.navbar ul li:hover {
  text-decoration: underline 3px var(--segundo);
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

/* Titulos */
.title {
  text-align: center;
  margin-top: 2rem;
  font-size: 4rem;
}

.subtitle {
  text-align: center;
  font-size: 1.5rem;
}

/* Busqueda */
.searchContainer {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 2rem;
}

.search {
  height: 100%;
  width: 50%;
  max-width: 28rem;
  min-width: 14rem;
  padding: 0.2rem;
  border: 3px solid var(--cuarto);
  font-size: 20px;
}

/* Intentos */
.grid-container {
  display: grid;
  grid-template-columns: 35% auto auto auto auto auto auto;
  background-color: var(--cuarto);
  padding: 10px;
  margin: auto;
  width: 95%;
  max-width: 55rem;
}

.grid-item {
  background-color: var(--tercero);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 15px;
  font-size: 1.2rem;
  text-align: center;
}


/* Footer */
.footer {
  text-align: center;
  background-color: var(--primero);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  line-height: 5vh;
  font-size: 20px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: underline 3px var(--segundo);
}
